.detailed-game-card-container img{
    aspect-ratio: 1/1;
    width: 13vw;
    height: auto;
    object-fit: cover;
}

.detailed-game-card-container{
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    position: relative;
}

.detailed-game-card-container:hover{
    transform: scale(1.1);
}

.detailed-game-card-overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    transition: all 0.5s ease-in-out;
}

.detailed-game-card-details{
    color: white;
    margin: 1rem;
    font-size: 1rem !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.detailed-game-card-container:hover .detailed-game-card-overlay{
    background: rgba(30,30,30,0.5);
}

.detailed-game-card-container:hover .detailed-game-card-details{
    opacity: 1;
}