.profile-game-card-container {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    height: 120px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.profile-game-card-container:hover {
    transform: scale(1.05);
}

.profile-game-card-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-card-name {
    margin-top: 5px;
    margin-left: 8px;
    margin-bottom: 10%;
    text-align: left;
    font-size: 1.2rem;
    color: white;
}

.profile-card-time {
    margin-bottom: 0;
    margin-right: 8px;
    text-align: right;
    font-size: 0.9rem;
}