.small-game-card-container img{
    aspect-ratio: 16/9;
    width: 11vw;
    height: auto;
    object-fit: cover;
}

.small-game-card-container{
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    position: relative;
}

.small-game-card-container:hover{
    transform: scale(1.1);
}

.small-game-card-overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(30,30,30,0.5);
    transition: all 0.5s ease-in-out;
}

.small-game-card-name{
    color: white;
    margin: 1rem;
    font-size: 1rem !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.small-game-card-container:hover .small-game-card-overlay{
    background: rgba(0,0,0,0)
}

.small-game-card-container:hover .small-game-card-name{
    display: none;
}