.support-card-container{
    display: grid;

    grid-template-columns: 30% 70%;

    width: 25vw;
    height: 12.5vh;

    padding: 1rem 2rem;

    border: 2px solid black;
    
    background-color: rgb(46, 46, 46);

    transition: 0.4s ease-in-out;
}

.support-card-text-description{
    font-size: 0.85vw;
    color: rgb(166, 166, 166);
}

.support-card-text-title{
    font-size: 1.2vw;
}

.support-card-icon{
    color: black;

    font-size: 5vh;
}

.support-card-container:hover .support-card-icon{
    color: #1DB964;
}

.support-card-container:hover{
    transform: scale(1.05);
    cursor: pointer;
}