html, body, #root{
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #212121;

  color: white;
}

.page-content-container{
  margin: 8vh 14vw;
  min-height: 75vh;
}