h5{
    color: #1DB964;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 30px 0;
}

.game-card-gp {
  text-align: center;
  color: white;
  width:180px;
}

.game-card-gp img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.game-card-gp img:hover {
  transform: scale(1.02);
}

.game-card-gp h4 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.game-card-gp p {
  margin-top: 5px;
  font-size: 14px;
  opacity: 0.8;
}




.sale-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
  color: white;
}

.sale-item {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  padding-bottom: 65px;
}

.sale-img {
  width: 260px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.sale-text p {
  margin: 0 0 10px 0;
  line-height: 1.4;
  color: white;
  max-width: 600px;
}

.sale-text .extra {
  margin-top: 10px;
}

.price {
  color: #ffcc00;
  font-weight: 600;
  margin-top: 5px;
}

.sale-divider {
  width: 100%;
  border: none;
  border-top: 1px solid #777;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 0;
}