.grid-layout-main-page{
    display: grid;

    grid-template-columns: 60% 40%;
}

.main-hr{
    border-top: 2px solid;
    width: 50%;
    opacity: 1;
}

.main-featured-game-image{
    width: 90%;
    height: auto;
    align-self: left;

    border: 0.075rem solid #1DB964;
}

.main-featured-game-description{
    margin-top: 0.4rem;
    font-size: 0.8rem;
    width: 90%;
}

.main-featured-game-container{
    display: flex;
    flex-direction: column;
}