.navbar-container{
    background-color: black;
    width: 100%;

    height: 16vh;

    display: flex;

    color: #1DB954;
}

.nav-link:focus, .navbar-brand:focus{ 
    color: #1DB964 !important;
    background: none;
    text-decoration: none;
}
