.page-title {
    color: #1DB964;
    font-size: 2rem;
    font-weight: 800;
}
.games-section {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 40px 0;
}

.game-card {
    text-align: center;
    width: 40%;
    padding-bottom: 25px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform-origin: center;
}
.game-card:hover {
    transform: scale(1.25);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.55);
}


.game-card img {
    width: 100%;
    height: 260px; 
    object-fit: cover;
}


.game-title {
    color: #1DB954;
    margin: 15px 0;
    font-size: 15px;
    font-weight: 500;
}

.learn-btn {
    padding: 10px 22px;
    border: none;
    border-radius: 6px;
    background: #d6d6e0;
    cursor: pointer;
    font-weight: 500;
}

.learn-btn:hover {
    background: #c2c2d0;
}

.news-section {
    width: 90%;
    margin: auto;
    color: #1DB954; /* green text */
    font-size: 15px;
    line-height: 1.5em;
}

.news-item {
    display: flex;
    gap: 12%;
    padding: 20px 0;
    align-items: center;
}

.news-img {
    width: 200px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
}

.news-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.news-text p {
    margin: 5px 0;
}

hr {
    border: none;
    border-top: 1px solid #444;
    margin: 10px 0;
}

