.not-found-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.not-found-page-container i{
    font-size: 17.5vw;
}

.not-found-page-container p{
    font-size: 0.75vw;
    width: 25vw;
    text-align: center;
    color: rgb(205, 204, 204);
}