.profile-page-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.profile-main-container {
    width: 80%;
    max-width: 1100px;
    background-color: #121212;
    border: 1.5px;
    border-style: solid;
    border-color: black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Top profile section */
.first-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 22px;
}

.icon-image {
    width: 200px;
    height: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: #1DB954;
    overflow: hidden;
}

.icon-image img{
    width: 100%;
    height: 100%;
}

.name-descrip h3 {
    margin-bottom: 85px;
    color: white;
    text-align: start;
}

.name-descrip p {
    margin: 3px 0 0;
}

.buttons-container {
    margin-left: auto;
}

.buttons-container button{
    background-color: #2B78E4;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
    border-color: transparent;
}

.buttons-container button:hover {
    background-color: #04224d;
}

/* Bottom section layout */
.second-container {
    display: flex;
    gap: 40px;
}

/* RECENT GAMES */

.games-container {
    flex: 3;
    padding: 20px;
}

.upper-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}


.upper-box p {
    font-size: 0.9em;
}

.games-container h3 {
    margin-bottom: 10px;
    margin-bottom: 25px;
}

.games-container > div {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.game-separator {
    border: none;
    border-top: 3px solid #2B78E4;
    opacity: 1;
    margin: 15px 0;
    width: 100%;
}

/* INFORMATION SECTION */
.information-container {
    flex: 1;
    background-color: #212121;
    padding: 10px;
    margin-top: 15px;
}

.information-container h4 {
    margin-bottom: 15px;
}

.information-container p {
    margin: 2.5px;
}

.friends-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.friends-container h4 {
    margin-bottom: 8px;
}

.friend-entry {
    display: flex;
    align-items: center;
    gap: 5px;
}

.friend-entry p {
    margin: 0;
}

.friend-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    background-color: blue;
    border: 2px solid #1DB954; 
}
